<div class="container-fluid">

    <div class="row">
        <app-loading *ngIf="loading" class="text-center"></app-loading>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0 px-4 py-4 mt-4 d-flex justify-content-center"
            *ngFor="let item of products; let i = index">
            <div class="card justify-space-between shadow" style="width: 22rem;">
                <div style="height: 300px;">
                    <img class="card-img-top" src={{item.image}} alt="Produto">
                </div>
                <div class="card-body bg-dark">
                    <h5 class="card-title text-nowrap">{{item.name}}</h5>
                    <p class="card-text">R$ {{item.price | number}}</p>
                    <div class="row">
                        <div class="col-8">
                            <button (click)="selectedProduct(item)"
                                [disabled]="products[i].quantity <= 0 || products[i].quantity == null"
                                class="rd-flex align-self-center btn btn-primary">Adicionar ao Carrinho</button>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <input type="number" min="0" [(ngModel)]="products[i].quantity" class="form-control"
                                    placeholder="Qtd." aria-label="Quantidade">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>